asgiref==3.2.3
astroid==2.3.3
autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
Django==3.1.12
dominate==2.4.0
entrypoints==0.3
flake8==3.7.9
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-WTF==0.14.3
idna==2.8
image==1.5.28
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.0
lazy-object-proxy==1.4.3
livereload==2.6.1
MarkupSafe==1.1.1
mccabe==0.6.1
nose==1.3.7
Pillow==8.2.0
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.4.4
python-dotenv==0.10.5
pytz==2019.3
requests==2.22.0
riotwatcher==2.7.1
six==1.14.0
sqlparse==0.3.1
tornado==6.0.4
typed-ast==1.4.1
urllib3==1.25.8
visitor==0.1.3
Werkzeug==0.16.1
wrapt==1.11.2
WTForms==2.2.1
