/* BEM METHODOLOGY:

    Only Classes
    Block Element Modifier
    .block
    .block__element
    .block__element--modifier
    */
/*
    TYPOGRAPHY: 

    Ezcar for numbers and headlines
    Roboto=Condensed for everything else
*/

/* 
    COLOR SCHEME:

    Primary color: #1EB980
    Secondary colors:
        #045D56 Dark Green
        #FF6859 Orange/Red
        #FFCF44 Yellow
        #B15DFF Purple
        #72DEFF Blue
*/

/* 
    High Emphasis:
        87% opacity #FFFFFF
    Medium Emphasis:
        60% opacity #FFFFFF
    Disabled:
        38% opacity #FFFFFF
*/

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-family: "Roboto-Condensed", "Eczar", Arial, Helvetica, sans-serif;
	background-color: #121212;
	box-sizing: border-box;
}

:root {
	--primary-color: #1eb980;
	--secondary-green: #045d56;
	--secondary-orange: #ff6859;
	--secondary-yellow: #ffcf44;
	--secondary-purple: #b15dff;
	--secondary-blue: #72deff;
	--high-emphasis: 87%;
	--medium-emphasis: 60%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

/* LANDING PAGE */
.main {
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
}
/* NAVBAR */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #424242;
	padding: 0 20px;
}
.navbar > * {
	margin: 5px 0;
}
.logo__letters {
	text-decoration: none;
	font-family: "Eczar", serif;
	color: #fff;
	opacity: var(--high-emphasis);
	font-size: 30px;
	height: 36px;
}

input[type='text'] {
	vertical-align: bottom;
	border: 3px solid var(--primary-color);
	padding: 5px;
	height: 36px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: var(--primary-color);
	font-family: "Roboto Condensed";
}

.navbar__searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

/* LANDING PAGE HEADER */
.header {
	margin: 5vw 1vw 1vw 1vw;
	font-family: "Roboto Condensed", sans-serif;
	padding: 1em;
	text-align: center;
	background-color: #424242;
	color: #ffffff;
	opacity: var(--high-emphasis);
	border-radius: 25px;
}

.header__title {
	padding: 5px;
	font-weight: bolder;
}

span.stats {
	color: var(--primary-color);
}

p {
	font-weight: 100;
	font-size: 17px;
    color: #FFFFFF;
    opacity: var(--medium-emphasis);
}
.header p {
	margin: 8px;
}
/* LANDING PAGE SEARCH BAR */
.main__search {
	border: 3px solid var(--primary-color);
	border-right: none;
	padding: 5px;
	height: 35px;
	width: 611px;
	border-radius: 5px 0 0 5px;
	outline: none;
	opacity: var(--high-emphasis);
	font-size: 20px;
	font-family: "Roboto Condensed";
}

.main__searchButton {
	position: fixed;
	width: 40px;
	height: 36px;
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	text-align: center;
	color: #fff;
	opacity: var(--high-emphasis);
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

.main__searchForm {
	margin: 5em 1em 1em 1em;
	width: 668.79px;
}

						/*************************** PROFILE PAGE ***************************/
.profilePage{
	display: grid;
	justify-content: center;
	height: calc(100% - 5vh);
	grid-template-columns: [user] 350px [match-history] auto;
	grid-template-rows: [top-margin] 100px [header] 120px [rank-recent] 150px [match-history] auto;
	grid-column-gap: 50px;
}
/* PROFILE HEADER */
.profileHeader {
	display: flex;
	grid-column: user;
	grid-row: header;
	align-items: center;
	width: 350px;
	height: 100px;
	font-family: "Roboto Condensed", sans-serif;
	padding: 1em;
	background-color: #424242;
	color: #ffffff;
	opacity: var(--high-emphasis);
	border-radius: 25px;
}
.profileHeader__summonerIcon {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}
.profileHeader__username {
	margin: 0 0 7px 15px;
}
.profileHeader__username h1 {
	opacity: var(--high-emphasis);
	margin: 10px 0 0 0;
}
.profileHeader__username p {
	margin: 5px 0;
}
/* Profile Rank */
.profileRank {
	display: flex;
	font-family: 'Roboto-Condensed', sans-serif;
	align-items: center;
	grid-column: user;
	grid-row: rank-recent;
	height: 125px;
	width: 350px;
	background-color: #424242;
	border-radius: 25px;
}
.profileRank > h2, p {
	margin: 0;
}
.profileRank__image {
	height: 100px;
	width: 90px;
	margin: 20px;
}
.profileRank__info {
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: space-evenly;
}
.profileRank__info h2 {
	color: #fff;
	opacity: var(--high-emphasis);
	margin: 0 0 5px 0;
}
/* Season Stats */
.seasonStats {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto-Condensed', sans-serif;
	grid-column: user;
	grid-row: match-history;
	height: 550px;
	width: 350px;
	background-color: #424242;
	border-radius: 25px;
}
.seasonStats h2 {
	margin: 15px 0 5px 0;
	color: #fff;
	opacity: var(--high-emphasis);
	align-self: center;
}
.seasonStats hr {
	width: 300px;
}
/* Match History */
.matchHistory {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto-Condensed', sans-serif;
	grid-column: match-history;
	grid-row: header / spanmatch-history;
	height: auto;
	width: 550px;
	background-color: #424242;
	border-radius: 25px;
}
.matchHistory__match {
	display: flex;
	margin: 3px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	height: 75px;
	width: 500px;
	background-color: #6d6d6d;
}

/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	padding: 15px;
	font-family: "Roboto Condensed";
}
