html, body {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 1em;
    height: 10vw;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

.form {
    padding: 5em;
    width: auto;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
}
