/* Box */
.box {
    margin-bottom: 1em;
    background: rgb(193, 198, 207);
    border-radius: 5px;
}

/* Header */
.Header {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 3px 4px rgba(0,0,0,.18);
}
.Header>.Profile {
    position: relative;
    display: inline-block;
    height: 100px;
    margin: 0 25px 0 25px;
    vertical-align: top;
    line-height: 1.1;
}
.Header>.Profile>.Information {
    display: block;
}

.Header>.ProfileIcon {
    position: relative;
    display: inline-block;
    width: 100px;
    vertical-align: top;
}
.Header>.ProfileIcon>.ProfileImage {
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

h1.name {
    color: #020000;
    font-size: 36px;
    font-weight: bold;
    margin-right: 4px;
    vertical-align: middle;
}
p.level {
    color: rgb(121,134,163);
    font-size: 24px;
}
/*** Summoner Info ***/
.SummonerContent {
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
}
.SummonerContent>.SideContent {
    display: inline-block;
    width: 300px;
    font-size: 12px;
    vertical-align: top;
}
.SummonerContent>.SideContent.TierBox {
    margin-top: 10px;
}

.SummonerContent>.MatchHistoryGraph {
    border-top: 4px solid #00a7ff;
    padding: 1rem;
    box-shadow: 0 3px 4px rgba(0,0,0,.18);
}

/** Summoner Rank Info **/
.SummonerRating {
    display: table;
    width: 100%;
    position: relative;
    padding: 8px 0;
}
.SummonerRating>.RankedIcon {
    display: table-cell;
    vertical-align: middle;
    width: 120px;
    height: 124px;
    text-align: center;
}
.SummonerRating>.RankedIcon>.Image {
    width: 104px;
    height: 104px;
    margin: -5px 0 -10px 0;
}
.SummonerRating>.RankTierInfo {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: rgb(137, 160, 181);
}
.SummonerRating>.RankTierInfo>.RankType {
    font-size: 11px;
    color: rgb(137, 160, 181);
}
.SummonerRating>.RankTierInfo>.TierRank {
    font-size: 15px;
    font-weight: bold;
    color: rgb(99, 183, 180);
}