{% extends "base.html" %} 

{% block app_content %}
    <div class="main">
        <section class="header">
            <h1 class="header__title">Welcome to League<span class="stats">Stats</span></h1>
            <p>
                A website where you can access statistics regarding your League of Legends
                profile.
            </p>
        </section>
        <div class="main__searchForm">
            <form action="{{ url_for('user', username=q) }}">
                <input type="text" class="main__search" placeholder="Search.." name="q">
                    <button type="submit" class="main__searchButton">
                        <i class="fas fa-search"></i>
                    </button>
            </form>
        </div>
        <footer>
            <p>&copy; 2020 Daniel Suh</p>
        </footer>
    </div>
{% endblock %}
