{% extends "base.html" %}

{% block app_content %}
    <head>
        <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/summoner_layout.css') }}">
    </head>
    
    <div class="Header">
        <div class="Face">
            <div class="ProfileIcon">
                <img src={{ user.getProfileIcon() }} class="ProfileImage">
            </div>
        </div>
        <div class="Profile">
            <div class="Information">
                <span class="Name">{{ user.username }}</span>
            </div>
        </div>
    </div>

    <div class="Main" id="Main">
        <div class="SummonerContent" style="display: block;">
            <div class="SideContent">
                <div class="TierBox">
                    <div class="SummonerRating">
                        <div class="RankedIcon">
                            {% set path=user.getTierIcon() %}
                            <img src={{ url_for('static', filename=path) }} class="Image">
                        </div>
                        <div class="RankTierInfo">
                            {% set stats=user.getStats() %}
                            {% set type, tier, rank, points=stats.get('queueType'), stats.get('tier'), 
                            stats.get('rank'), stats.get('leaguePoints') %}
                            <div class="RankType">{{ type }}</div>
                            <div class="TierRank">{{tier + ' ' + rank}}</div>
                            <div class="TierInfo">
                                <span class="LeaguePoints">{{ points ~ " LP" }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="RealContent">
                <div class="GameListContainer">
                    <div class="Content">
                        <div class="GameItemList">
                            {% set match_history=user.getMatchHistory() %}
                            {% for match in match_history %}
                                <div class="GameItemWrap">
                                    {% set outcome=match.get('outcome') %}
                                    {% if outcome == 'Victory' %}
                                        <div class="GameItem Win">
                                            <div class="Content">
                                                <div class="GameStats">
                                                    <div class="GameType">
                                                        <!-- Fill in info-->
                                                    </div>
                                                    <div class="GameSettingInfo">
                                                        <div class="ChampionImage">
                                                            {% set champ=match.get('champion') %}
                                                            {% set link='http://ddragon.leagueoflegends.com/cdn/10.5.1/img/champion/' ~ champ ~ '.png' %}
                                                            <img src={{ link }} class="Image">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="GameItem Lose">
                                            <div class="Content">
                                                <div class="GameStats">
                                                    <div class="GameType">
                                                        <!-- Fill in info-->
                                                    </div>
                                                    <div class="GameSettingInfo">
                                                        <div class="ChampionImage">
                                                            {% set champ=match.get('champion') %}
                                                            {% set link='http://ddragon.leagueoflegends.com/cdn/10.5.1/img/champion/' ~ champ ~ '.png' %}
                                                            <img src={{ link }} class="Image">
                                                        </div>
                                                    </div>
                                                </div>
    
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Top Five Champions</h2>
                {% set top_five=user.getTopFiveChamps() %}
                <ul class="list-group">
                    {% for key, value in top_five.items() %}
                        <li class="list-group-item">{{key}} : {{value}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card">
                <h2>Match History</h2>
                {% set match_history=user.getMatchHistory() %}
                <ul class="list-group list-group-flush">
                    {% for match in match_history %}
                        {% set outcome=match.get('outcome') %}
                        {% if outcome=='Victory' %}
                            <li class="list-group-item list-group-item-info">{{outcome}} : {{match.get('champion')}}</li>
                        {% else %}
                            <li class="list-group-item list-group-item-danger">{{outcome}} : {{match.get('champion')}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}