{% extends "base.html" %}

{% block app_content %}
    <div class="profilePage">
        <div class="profileHeader">
            <img src={{ user.getProfileIcon() }} class="profileHeader__summonerIcon">
            <div class="profileHeader__username">
                <h1>{{ user.username }}</h1>
                <p>Level: {{ user.getLevel() }}</p>
            </div>
        </div>
        <div class="profileRank">
            {% set path=user.getTierIcon() %}
            <img src={{ url_for('static', filename=path) }} class="profileRank__image">
            {% set stats=user.getProfileRank() %}
            {% set tier, rank, lp, wins, losses, win_ratio=stats.get('tier'), stats.get('rank'), 
                stats.get('lp'), stats.get('wins'), stats.get('losses'), stats.get('win_ratio') %}
            <div class="profileRank__info">
                <h2>{{ tier + ' ' + rank}}</h2>
                <p>{{ lp ~ " LP / " ~ wins ~ " W " ~ losses ~ " L" }}</p>
                <p>{{ win_ratio ~ "% Win Ratio" }}</p>
            </div>
        </div>
        <div class="seasonStats">
            <h2>Season 2020</h2>
            <hr>
        </div>
        <div class="matchHistory">
            {% set match_history=user.getMatchHistory() %}
            {% for match in match_history %}
            <div class="matchHistory__match">
                {% set outcome=match.get('outcome') %}
                {{ outcome }} : {{ match.get('champion') }}
                {% if outcome=='Victory' %}
                    <!-- Green -->
                {% else %}
                    <!-- Red -->
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}